@import "tailwindcss";

/* html.light {
  background-color: #fff;
  color: #000;
}

html.dark {
  background-color: #121212;
  color: #fff;
} */

html {
  scroll-behavior: smooth;
}

.tag_link {
  position: relative;
  padding-bottom: 4px;
}

.tag_link::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.4s linear;
}

.tag_link:hover::after,
.tag_link:focus::after {
  background-color: #687892;
  width: 100%;
}
/* contactCta css */

.contactCta-section {
  background:
    linear-gradient(rgba(104, 120, 146, 0.7), rgba(104, 120, 146, 0.7)),
    url("https://images.unsplash.com/photo-1653039923048-aa285ded90ca?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* security css */
.securtiy-section {
  background:
    linear-gradient(rgba(104, 120, 146, 0.7), rgba(104, 120, 146, 0.7)),
    url("https://i.pinimg.com/1200x/6a/56/b0/6a56b0afb56c3c55f8006b6d34dacc25.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* footer css */

.footer-section {
  background:
    linear-gradient(rgba(104, 120, 146, 0.6), rgba(104, 120, 146, 0.6)),
    url("https://images.unsplash.com/photo-1549109926-58f039549485?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-content:hover {
  /* transform: 5px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0px 9px;
  /* scale: 1.05; */
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.bg {
  background: linear-gradient(
    rgba(104, 120, 146, 0.7),
    rgba(104, 120, 146, 0.7)
  );
}
.container {
  overflow: hidden;
}

.logo-partners {
  animation: logoPartners 20s linear infinite;
}

@keyframes logoPartners {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
